nelua_cache
nelua-lua
nelua-luac
neluacfg.lua
.neluacfg.lua
.neluacfg.*.lua
*.out
*.tmp
*.log
*.gcov
*.gcda
*.exe
*.so
*.dylib
*.o
*.a
*.bmir
*.mir
*.dll
*.data
*.old
*.zst
*.obj
*.luabc
.vscode
tempCodeRunner.*
/play
/pkg
/mylib_test
/pgo
preview.md
test_file.tmp
require_tmp.nelua
