name: "package"

on:
  push:
    branches:
      - "master"

jobs:
  package:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
        - os: ubuntu-latest
          cc: musl-gcc
          cflags: -O2 -flto -fno-plt
          pkgext: .tar.xz
        - os: macos-latest
          cc: clang
          cflags: -O2 -flto -fno-plt
          pkgext: .tar.xz
        - os: windows-latest
          cc: gcc
          cflags: -O2
          pkgext: .zip
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@master
      with:
        fetch-depth: 0
    - name: Install musl
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: sudo apt-get install musl-tools
    - name: Package
      shell: bash
      run: make package CC=${{matrix.cc}} CFLAGS="${{matrix.cflags}}"
    - name: Adjust variables
      shell: bash
      id: pkgvars
      run: |
        pkgfile=`ls pkg/*${{matrix.pkgext}}`
        echo "::set-output name=pkgfile::$pkgfile";
    - name: Upload pre release
      uses: ncipollo/release-action@v1
      with:
        name: Latest Nelua in development
        tag: latest
        artifacts: ${{steps.pkgvars.outputs.pkgfile}}
        token: ${{secrets.GITHUB_TOKEN}}
        prerelease: true
        allowUpdates: true
        body:
          Precompiled Nelua binary package rebuilt at every new commit in master branch.
